<%- include('./partials/header') %>
    <style>
        .image{
            width: auto;
            height: 300px;

        }
    </style>
    <div class="container">
    <h2 class="display-2 text-center pb-5">Results</h2>
    <% if (results.length >0) { %>
        <div class="row d-flex justify-content-center align-items-stretch">
        <% results.forEach(movie => { %>
            <div class="col-12 col-md-6 col-lg-4 pb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top image" src="<%= movie.Poster %>" alt="<%= movie.Title %>">
                    <div class="card-body">
                        <form method="get" action="/watch">
                            <h5 class="card-title"><%=movie.Title%></h5>
                            <p class="card-text"><%= movie.Year %></p>
                            <input type="text" value="<%= movie.Title %>" name="title" readonly class="d-none">
                            <input type="text" value="<%= movie.imdbID %>" name="id" readonly class="d-none">
                            <button class="btn btn-primary" type="submit">Watch Now</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
    <% } else{ %>
        <div class="alert alert-danger" role="alert">
            <h3 class="alert-heading">Uh oh! The movie is not available :(</h3>
            <a href="/" class="btn btn-lg btn-success">Go Home to try again</a>
          </div>
    <% } %>
    </div>
<%- include('./partials/footer') %>